@model HiringDev.Client.Models.YoutubeResultModel

<div class="fixed flex-item">
    <img src="@Model.ImageUri" width="300" height="200" />
    <p>@Model.Title</p>
    <p>@Model.Description</p>
</div>