@model HiringDev.Client.Models.SearchModel
@{
    ViewData["Title"] = "Segfy - Busca de vídeos";
}

<div class="text-center">
    <div class="form-group">
        <form class="col-sm-6" asp-action="Search" data-ajax="true" data-ajax-method="post" data-ajax-update="#results" asp-route-id="10">
            <label>Pesquisa</label>
            <input type="text" placeholder="Busca..." class="form-control" id="dataSearch" asp-for="SearchTerm" />
            <button class="btn btn-sm btn-success" id="btnSearch">Buscar</button>
        </form>
    </div>
</div>

<div id="results">

</div>
